*.dtbo
*.dts
xheep_logs/
sw/build
# Ignore new/untracked content under sw.
# Files already tracked by git remain tracked and are not hidden.
sw/**
*/__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.eggs/
*.egg
*.bit
*.hwh
*.xclbin
*.elf
*.bin
.vscode/
.idea/
*.swp
*.swo
*~